[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = git@github.com:joyent/http-parser.git
[submodule "vendor/asio"]
	path = vendor/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "vendor/catch"]
	path = vendor/catch
	url = git@github.com:philsquared/Catch.git
