[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "vendor/catch"]
	path = vendor/catch
	url = https://github.com/philsquared/Catch.git
